# path to deploy the ear
deploy.ear.path=${user.home}/as/jboss/server/default/deploy

# path to deploy needed runtime libs like emma.jar
deploy.lib.path=${user.home}/as/jboss/server/default/lib

# Remove comment to enable emma profiling (needs emma.jar in your application server /lib directory)
# tests.emma.enabled=true

# Netbeans profiler root directory (optional)
# To enable the netbeans profiler, set -Dprofile.netbeans.enabled=true and call one of the tests.* targets
profile.netbeans.root=/opt/netbeans-5.0/profiler1
profile.netbeans.agent=lib/deployed/jdk15/linux/libprofilerinterface.so

# Maven repository URL
maven.dist.repo.snapshot=file:///var/repo/flexive

# This is the database configuration file used by the flexive setup tasks.
#
# Enter the settings for your database server connection to be used for development.

# MySQL database settings

# The server host or IP
database.MySQL.host=localhost
# The server port
database.MySQL.port=3306
# The user name and password to be used for creating flexive database structures
database.MySQL.username=root
database.MySQL.password=a
# The root schema where the flexive schemas can be dropped and created
database.MySQL.schema.root=mysql
database.MySQL.schema.config=mysql
# JDBC Driver
database.MySQL.driver=com.mysql.jdbc.Driver
# JDBC base URL, will be appended by the database name and the url parameters
database.MySQL.url.base=jdbc:mysql://${database.MySQL.host}:${database.MySQL.port}/
# Optional URL parameters to append to the JDBC connect string
database.MySQL.url.parameters=?useUnicode=true&amp;characterEncoding=UTF-8

# H2 database settings

# The server host or IP
database.H2.host=localhost
# The server port
database.H2.port=9092
# The user name and password to be used for creating flexive database structures
database.H2.username=sa
database.H2.password=
database.H2.schema.root=flexive
database.H2.schema.config=flexiveConfiguration
database.H2.driver=org.h2.Driver
database.H2.url.base=jdbc:h2:tcp://${database.H2.host}:${database.H2.port}/~/
database.H2.url.parameters=;SCHEMA=@DATABASE@;MVCC=TRUE


#select the database vendor to use
#database.vendor=H2
database.vendor=MySQL

