.group {
    margin-right:15px;
    border-left:1px solid #d3dcb7;
    border-right:1px solid #d3dcb7;
    margin-top:8px;
    margin-bottom:8px;
    margin-left:8px;
    background-color:#f9fcf1
}

.group .header {
    background-color:#bdbdbd;
    background-image: url("../../pub/images/filteredTable/header.gif");
    border-bottom:1px solid #d3dcb7;
    color:black;
    padding:2px;
    margin-bottom:8px;
    height:16px;
    vertical-align:middle;
}

.group .header .display {
    top:-4px;
    position:relative;
}

.group .header .icon {
    border:0;
}

.group .end {
    border-bottom:1px solid #bdbdbd;
    margin-bottom:5px
}

.property {
    margin-left:8px;
    margin-top:4px;
    margin-bottom:4px;
}

.property .display {
    padding-left:5px;
    float:left;
    width:130px;
    overflow:hidden;
}

.warning {
    color: #AA0000;
}

.editableNodes {
    border:1px solid #bdbdbd
}

.readonlyValue {
    position:relative;
    top:2px;
    padding-left:2px;
    padding-right:2px;
    border:1px solid #bdbdbd;
    background-color:#f9fcf1
}

.property .value[readonly='true'] {
    width:400px;
    float:left;
    margin-bottom:4px;
    padding-left:2px;
    padding-right:2px;
    border:1px solid #bdbdbd;
    background-color:#f9fcf1
}

.property .value[readonly='false'] {
    width:400px;
    float:left;
    margin-bottom:4px
}

.property .icon {
    height:16px;
    width:16px;
    border:0;
    float:left;
    margin-left:2px;
    clear: both;
}

.property .iconPlaceholder {
    height:16px;
    width:16px;
    float:left;
    margin-left:2px;
    position:relative;
    top:-2px;
    background-color:#dfdfdf;
}

.popupMenu {
    position:absolute;
    background-color:#ebf5cc;
    border:1px dotted black;
    display:none;z-index:998;
    text-decoration:none;
    color:black;
    padding-top:10px;
    padding-bottom:15px;
    padding-left:10px;
    padding-right:10px;
    font-weight:bold;
    width:250px;
}

.popupMenu .icon {
    border:0;
    margin-right:5px;
}

.popupMenu .elementSelectListbox {
    margin-top:8px;
    width:250px;
    margin-bottom:5px;
}

.popupMenu .txt {
    color:black;
    position:relative;
    top:-4px;
}

.popupMenu a {
    text-decoration:none;
    color:black;
}

/* Content editor input styles */
.property .fxValueTextInput, .property .fxValueInputElementWidth, .property textarea.fxValueTextArea, .property textarea.fxValueTextAreaHtml {
    width: 300px;
}

.property div.fxValueInputRow {
    width: 330px;
}

.property div.fxValueInput {
    width: 400px;
}

.infoPanelButton {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border:1px solid #CCCCCC;
    background-color: #EFEFEF;
    color: gray;
    font-weight: bold;
    margin-right: 2px;
}

.infoPanel {
    position:relative;
    top:5px;
    padding-left:2px;
    padding-right:2px;
    border:1px solid #BDBDBD;
    background-color:#F9FCF1;
    display: block;
    width: 550px;
    margin-bottom: 5px;
}

.change_Update {
    border-left: 4px solid lightgray;
    padding: 1px 1px 1px 4px
}

.change_Add {
    background: #DDFFDD none repeat scroll 0%;
    border-left: 4px solid darkgreen;
    padding: 1px 1px 1px 4px
}

.change_Remove {
    background: #FFDDDD none repeat scroll 0%;
    border-left: 4px solid darkred;
    color: #999999;
    padding: 1px 1px 1px 4px
}