div.formLabel {
    float: left;
    margin-top: 2px;
    width: 160px;
    height: 25px;
    padding: 2px;
    white-space:nowrap;
}

div.formInputElement {
    float: left;
    width: 140px;
    margin-top: 2px;
    padding: 2px;
}

div.formRow {
    float: left;
    display: block;
    padding: 0;
}

div.extraWidth div.formLabel {
    width: 220px;
}