<?xml version="1.0"?>
<openejb>
    <!-- MySQL settings -->
    <Resource id="jdbc/flexiveConfiguration" type="DataSource">
        JdbcDriver com.mysql.jdbc.Driver
        JdbcUrl jdbc:mysql://localhost/flexiveConfiguration
        UserName root
        Password a
    </Resource>
    <Resource id="jdbc/flexiveTest" type="DataSource">
        JdbcDriver com.mysql.jdbc.Driver
        JdbcUrl jdbc:mysql://localhost/flexiveTest
        UserName root
        Password a
    </Resource>
    <Resource id="jdbc/flexiveTestNoTX" type="DataSource">
        JdbcDriver com.mysql.jdbc.Driver
        JdbcUrl jdbc:mysql://localhost/flexiveTest
        UserName root
        Password a
        JtaManaged false
    </Resource>

    <!-- H2 settings (Embedded mode, faster, but no external connection possible) -->
    <!--
    <Resource id="jdbc/flexiveConfiguration" type="DataSource">
        JdbcDriver org.h2.Driver
        JdbcUrl jdbc:h2:flexive-db/h2/flexive;SCHEMA=flexiveConfiguration;LOCK_TIMEOUT=10000;TRACE_LEVEL_FILE=0
        UserName sa
        Password
    </Resource>
    <Resource id="jdbc/flexiveTest" type="DataSource">
        JdbcDriver org.h2.Driver
        JdbcUrl jdbc:h2:flexive-db/h2/flexive;SCHEMA=flexiveTest;LOCK_TIMEOUT=10000;TRACE_LEVEL_FILE=0
        UserName sa
        Password
    </Resource>
    <Resource id="jdbc/flexiveTestNoTX" type="DataSource">
        JdbcDriver org.h2.Driver
        JdbcUrl jdbc:h2:flexive-db/h2/flexive;SCHEMA=flexiveTest;LOCK_TIMEOUT=10000;TRACE_LEVEL_FILE=0
        UserName sa
        Password
        JtaManaged false
    </Resource>
    -->

    <!-- H2 settings (Server mode) - please set the absolute path to your flexive-db directory -->
    <!--
    <Resource id="jdbc/flexiveConfiguration" type="DataSource">
        JdbcDriver org.h2.Driver
        JdbcUrl jdbc:h2:tcp://localhost:9092/[flexive-db-path]/flexive;SCHEMA=flexiveConfiguration;LOCK_TIMEOUT=10000;TRACE_LEVEL_FILE=0
        UserName sa
        Password
    </Resource>
    <Resource id="jdbc/flexiveTest" type="DataSource">
        JdbcDriver org.h2.Driver
        JdbcUrl jdbc:h2:tcp://localhost:9092/[flexive-db-path]/flexive;SCHEMA=flexiveTest;LOCK_TIMEOUT=10000;TRACE_LEVEL_FILE=0
        UserName sa
        Password
    </Resource>
    <Resource id="jdbc/flexiveTestNoTX" type="DataSource">
        JdbcDriver org.h2.Driver
        JdbcUrl jdbc:h2:tcp://localhost:9092/[flexive-db-path]/flexive;SCHEMA=flexiveTest;LOCK_TIMEOUT=10000;TRACE_LEVEL_FILE=0
        UserName sa
        Password
        JtaManaged false
    </Resource>
    -->

    <!-- PostgreSQL settings -->
    <!--
    <Resource id="jdbc/flexiveConfiguration" type="DataSource">
        JdbcDriver org.postgresql.Driver
        JdbcUrl jdbc:postgresql://localhost:5432/flexiveConfiguration
        UserName postgres
        Password a
    </Resource>
    <Resource id="jdbc/flexiveTest" type="DataSource">
        JdbcDriver org.postgresql.Driver
        JdbcUrl jdbc:postgresql://localhost:5432/flexiveTest
        UserName postgres
        Password a
    </Resource>
    <Resource id="jdbc/flexiveTestNoTX" type="DataSource">
        JdbcDriver org.postgresql.Driver
        JdbcUrl jdbc:postgresql://localhost:5432/flexiveTest
        UserName postgres
        Password a
        JtaManaged false
    </Resource>
    -->
    <!-- Oracle XE settings -->
    <!--
    <Resource id="jdbc/flexiveConfiguration" type="DataSource">
        JdbcDriver oracle.jdbc.OracleDriver
        JdbcUrl jdbc:oracle:thin:@localhost:1521/XE
        UserName flexiveConfiguration
        Password a
    </Resource>
    <Resource id="jdbc/flexiveTest" type="DataSource">
        JdbcDriver oracle.jdbc.OracleDriver
        JdbcUrl jdbc:oracle:thin:@localhost:1521/XE
        UserName flexiveTest
        Password a
    </Resource>
    <Resource id="jdbc/flexiveTestNoTX" type="DataSource">
        JdbcDriver oracle.jdbc.OracleDriver
        JdbcUrl jdbc:oracle:thin:@localhost:1521/XE
        UserName flexiveTest
        Password a
        JtaManaged false
    </Resource>
    -->
    <SecurityService id="Default Security Service"/>
    <Deployments jar="../../build/framework/jar/flexive-ejb.jar"/>
    <!--TransactionService id="Default Transaction Manager"/-->
</openejb>

