<?xml version="1.0"?>
<openejb>
    <!-- MySQL settings -->
    <Resource id="jdbc/flexiveConfiguration" type="DataSource">
        JdbcDriver com.mysql.jdbc.Driver
        JdbcUrl jdbc:mysql://localhost/flexiveConfiguration
        UserName root
        Password a
    </Resource>
    <Resource id="jdbc/flexiveTest" type="DataSource">
        JdbcDriver com.mysql.jdbc.Driver
        JdbcUrl jdbc:mysql://localhost/flexiveTest
        UserName root
        Password a
    </Resource>
    <!-- H2 settings -->
    <!--
    <Resource id="jdbc/flexiveConfiguration" type="DataSource">
        JdbcDriver org.h2.Driver
        JdbcUrl jdbc:h2:tcp://localhost:9092/~/flexive;SCHEMA=flexiveConfiguration;LOCK_TIMEOUT=10000;MVCC=TRUE;TRACE_LEVEL_FILE=0
        UserName sa
        Password
    </Resource>
    <Resource id="jdbc/flexiveTest" type="DataSource">
        JdbcDriver org.h2.Driver
        JdbcUrl jdbc:h2:tcp://localhost:9092/~/flexive;SCHEMA=flexiveTest;LOCK_TIMEOUT=10000;MVCC=TRUE;TRACE_LEVEL_FILE=0
        UserName sa
        Password
    </Resource>
    -->
    <!-- PostgreSQL settings -->
    <!--
    <Resource id="jdbc/flexiveConfiguration" type="DataSource">
        JdbcDriver org.postgresql.Driver
        JdbcUrl jdbc:postgresql://localhost:5432/flexiveConfiguration
        UserName postgres
        Password a
    </Resource>
    <Resource id="jdbc/flexiveTest" type="DataSource">
        JdbcDriver org.postgresql.Driver
        JdbcUrl jdbc:postgresql://localhost:5432/flexiveTest
        UserName postgres
        Password a
    </Resource>
    -->
    <!-- Oracle XE settings -->
    <!--
    <Resource id="jdbc/flexiveConfiguration" type="DataSource">
        JdbcDriver oracle.jdbc.OracleDriver
        JdbcUrl jdbc:oracle:thin:@localhost:1521/XE
        UserName flexiveConfiguration
        Password a
    </Resource>
    <Resource id="jdbc/flexiveTest" type="DataSource">
        JdbcDriver oracle.jdbc.OracleDriver
        JdbcUrl jdbc:oracle:thin:@localhost:1521/XE
        UserName flexiveTest
        Password a
    </Resource>
    -->
    <SecurityService id="Default Security Service"/>
    <Deployments jar="../../build/framework/jar/flexive-ejb.jar"/>
    <!--TransactionService id="Default Transaction Manager"/-->
</openejb>

