body {
    font-family: Verdana, Geneva, Helvetica, Arial, sans-serif;
    font-size: 0.9em;
}

.command {
    font-family: monospace;
}

.emphasis {
    font-style: italic;
}

.filename {
    font-family: monospace;
}

.author, a.email {
    font-size: 0.9em;
}

.screen, .programlisting {
    font-family: monospace;
    font-size: 1em;
    display: block;
    padding: 10px;
    border: 1px outset #3D3D3D;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #fafcf6;
    color: #000;
    overflow: auto;
    margin: 0.5em;
}

.programlisting .emphasis em {
    font-style: normal;
    font-weight: bold;
}

h1.title {
    font-size: 2em;
}

h2.title {
    font-size: 1.7em;
}

h3.title {
    font-size: 1.5em;
}

h4.title {
    font-size: 1.3em;
}

h5.title {
    font-size: 1em;
}

div.warning, div.tip {
    border: 1px solid #a4aaa4;
    padding: 0 1.5em 0.5em 1.5em;
    margin: 1em 0 1em 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.warning {
    background-color: #fffcd0;
}

div.tip {
    background-color: #f9fcf1;
}


/* Code example boxes */
div.example {
    padding: 0.5em;
    margin: 0.5em;
    border: 1px solid gray;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.example .programlisting {
    padding: 1em 0 0 0;
    margin: 0;
    border: none;
    background-color: transparent;
}

div.example p.title {
    background-color: #ebf5cc;
    margin: -0.5em -0.5em 0 -0.5em;
    padding: 0.5em;
    border-bottom: 1px solid gray;
}

/* Standard table style for Docbook tables */
table.flexive {
    border: 1px solid black;
    border-collapse: collapse;
}

table.flexive caption {
    font-style: italic;
}

table.flexive thead th {
    background-color: #ebf5cc;
    padding: 0.5em;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

table.flexive tbody {
    background-color: #f9fcf1;
}

table.flexive tbody td {
    padding: 0.5em;
    border-bottom: 1px solid black;
    vertical-align: top;
}

/* Syntax highlighting */

.hl-keyword {
    color:#000080;
    font-weight:bold;
}

.hl-string {
    color: #008000;
    font-weight: bold;
}


.hl-comment, .hl-doccomment {
    color:#808080;
    font-style:italic;
}


.hl-directive {
    color:#808080;
}


.hl-tag {
    color:#000080;
    font-weight:bold;
}


.hl-attribute {
    color:#0000FF;
    font-weight:bold;
}


.hl-value {
    color: #008000;
    font-weight: bold;
}


.hl-number {
    color:#0000FF;
}


.hl-doctype {
    color:#000080;
    font-weight:bold;
}


.hl-annotation {
    color:#808000;
}