.contentSettings {
    background-color:#F2F2F2;
    margin-right:15px;
    border: 1px solid #CCCCCC;
}

.contentSettings .formLabel{
    font-weight:bold;    
}

.contentSettings .formLabelContainer{
    width:45px;
}

.contentSettings .formInputElement{
    width:auto;
}

.previewImage {
    font-weight:bold;
    float:left;
}

.previewImage img {
    height:50px;
    border:none;
}

.warning {
    color: #AA0000;
}

.editableNodes {
    border:1px solid #bdbdbd
}

/* info panel */

.infoPanelButton {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border:1px solid #CCCCCC;
    background-color: #EFEFEF;
    color: gray;
    font-weight: bold;
    margin-right: 2px;
    cursor: pointer;
}

.infoPanel {
    position:relative;
    top:5px;
    padding-left:2px;
    padding-right:2px;
    border:1px solid #BDBDBD;
    background-color:#F9FCF1;
    display: block;
    width: 550px;
    margin-bottom: 5px;
}

/* version compare - changes */

.changesTable {
    border-width: 0;
    border-spacing: 0 5px;
    width: 540px;
}

.changesTable TR TH {
    text-align: left;
    font-weight: bold;
}

.changeInfo {
    vertical-align: top;
    padding-top: 5px;
    padding-right: 2px;
}

.changeInfo.img {
    border: 0;
}

.changeLeft {
    font-family: monospace;
    vertical-align: top;
    padding: 1px 1px 1px 4px;
    border-style: solid;
    border-width: 1px 0 1px 4px;
    padding-right: 5px;
}

.changeMiddle {
    vertical-align: top;
    padding: 1px 1px 1px 1px;
    border-style: solid;
    border-width: 1px 0 1px 0;
}

.changeRight {
    vertical-align: top;
    padding: 1px 1px 1px 1px;
    border-style: solid;
    border-width: 1px 1px 1px 0;
}

.changeUpdate {
    border-color: lightgray;
}

.changeAdd {
    border-color: darkgreen;
    background: #DDFFDD none repeat scroll 0;
}

.changeRemove {
    color: #999999;
    border-color: darkred;
    background: #FFDDDD none repeat scroll 0;
}

.changeData {
    border: 1px solid #999999;
    margin: 1px;
    padding: 2px;
}

table.historyTable {
    border: 1px solid #CCCCCC;
    border-spacing: 0 0;
    width: 540px;
    margin: 5px;
}

table.historyTable TR TH {
    text-align: left;
    font-weight: bold;
}

table.historyTable TR TH.action {
    text-align: center;
    background: #EFEFEF none repeat scroll 0;
    border: 1px 1px 1px 0 solid;
}

table.historyTable TR TD.action {
    background: #EFEFEF none repeat scroll 0;
    border: 1px 1px 1px 0 solid;
}
                                 #
#exportArea {
    width:500px;
    height:200px;
    overflow: auto;
    border: 1px solid #CCCCCC;
    background-color: #EFEFEF;
    color: gray;
    margin: 12px;
}

table.contentOverview {
    /*margin-top: 15px;*/
}

table.contentOverview input, table.contentOverview select {
    width: 100%;
}

table.contentOverview td.contentData {
    width: 200px;
}

.navigationDisplay {
    border:1px solid darkBlue;
    float:left;
    margin-top:3px;
    padding-left:2px;
    padding-right:2px;
    position:relative;
    margin-left:2px;
    margin-right:2px;
}
