.group {
    margin-right:15px;
    border-left:1px solid #d3dcb7;
    border-right:1px solid #d3dcb7;
    margin-top:8px;
    margin-bottom:8px;
    margin-left:8px;
    background-color:#f9fcf1
}

.group .header {
    background-color:#bdbdbd;
    background-image: url("../../pub/images/filteredTable/header.gif");
    border-bottom:1px solid #d3dcb7;
    color:black;
    padding:2px;
    margin-bottom:8px;
    height:16px;
    vertical-align:middle;
}

.group .header .display {
    top:-4px;
    position:relative;
}

.group .header .icon {
    border:0;
}

.group .end {
    border-bottom:1px solid #bdbdbd;
    margin-bottom:5px
}

.property {
    margin-left:8px;
    margin-top:4px;
    margin-bottom:4px;
}

.property .display {
    padding-left:5px;
    float:left;
    width:130px;
    overflow:hidden;
}

.warning {
    color: #AA0000;
}

.editableNodes {
    border:1px solid #bdbdbd
}

.readonlyValue {
    border:1px solid #bdbdbd;
    background-color:#f9fcf1
}

div.readonlyValue {
    position:relative;
    top:2px;
    padding-left:2px;
    padding-right:2px;
}

.property .value[readonly='true'] {
    width:400px;
    float:left;
    margin-bottom:4px;
    padding-left:2px;
    padding-right:2px;
    padding-bottom: 2px;
    border:1px solid #bdbdbd;
    background-color:#f9fcf1
}

.property .value[readonly='false'] {
    width:400px;
    float:left;
    margin-bottom:4px
}

.property .icon {
    height:16px;
    width:16px;
    border:0;
    float:left;
    margin-left:2px;
    clear: both;
}


.popupMenu {
    position:absolute;
    background-color:#ebf5cc;
    border:1px dotted black;
    display:none;z-index:998;
    text-decoration:none;
    color:black;
    padding-top:10px;
    padding-bottom:15px;
    padding-left:10px;
    padding-right:10px;
    font-weight:bold;
    width:250px;
}

.popupMenu .icon {
    border:0;
    margin-right:5px;
}

.popupMenu .elementSelectListbox {
    margin-top:8px;
    width:250px;
    margin-bottom:5px;
}

.popupMenu .txt {
    color:black;
    position:relative;
    top:-4px;
}

.popupMenu a {
    text-decoration:none;
    color:black;
}

/* Content editor input styles */
.property .fxValueTextInput, .property .fxValueInputElementWidth, .property .fxValueTextArea, .property .fxValueTextAreaHtml {
    width: 275px;
}

.property div.fxValueInputRow {
    width: 325px;
}

.property div.fxValueInput {
    width: 400px;
}

/* info panel */

.infoPanelButton {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border:1px solid #CCCCCC;
    background-color: #EFEFEF;
    color: gray;
    font-weight: bold;
    margin-right: 2px;
    cursor: pointer;
}

.infoPanel {
    position:relative;
    top:5px;
    padding-left:2px;
    padding-right:2px;
    border:1px solid #BDBDBD;
    background-color:#F9FCF1;
    display: block;
    width: 550px;
    margin-bottom: 5px;
}

/* version compare - changes */

.changesTable {
    border-width: 0;
    border-spacing: 0 5px;
    width: 540px;
}

.changesTable TR TH {
    text-align: left;
    font-weight: bold;
}

.changeInfo {
    vertical-align: top;
    padding-top: 5px;
    padding-right: 2px;
}

.changeInfo.img {
    border: 0;
}

.changeLeft {
    font-family: monospace;
    vertical-align: top;
    padding: 1px 1px 1px 4px;
    border-style: solid;
    border-width: 1px 0 1px 4px;
    padding-right: 5px;
}

.changeMiddle {
    vertical-align: top;
    padding: 1px 1px 1px 1px;
    border-style: solid;
    border-width: 1px 0 1px 0;
}

.changeRight {
    vertical-align: top;
    padding: 1px 1px 1px 1px;
    border-style: solid;
    border-width: 1px 1px 1px 0;
}

.changeUpdate {
    border-color: lightgray;
}

.changeAdd {
    border-color: darkgreen;
    background: #DDFFDD none repeat scroll 0;
}

.changeRemove {
    color: #999999;
    border-color: darkred;
    background: #FFDDDD none repeat scroll 0;
}

.changeData {
    border: 1px solid #999999;
    margin: 1px;
    padding: 2px;
}

table.historyTable {
    border: 1px solid #CCCCCC;
    border-spacing: 0 0;
    width: 540px;
    margin: 5px;
}

table.historyTable TR TH {
    text-align: left;
    font-weight: bold;
}

table.historyTable TR TH.action {
    text-align: center;
    background: #EFEFEF none repeat scroll 0;
    border: 1px 1px 1px 0 solid;
}

table.historyTable TR TD.action {
    background: #EFEFEF none repeat scroll 0;
    border: 1px 1px 1px 0 solid;
}

#exportArea {
    width:500px;
    height:200px;
    overflow: auto;
    border: 1px solid #CCCCCC;
    background-color: #EFEFEF;
    color: gray;
    margin: 12px;
}

.binaryDescription {
    padding-left:3px;
    border:1px solid #d3dcb7;
    background-color:white;
}

.binaryDownloadIcon {
    padding:0;
    margin-left:5px;
    border:0;
    height:16px;
    width:16px;
    vertical-align:middle;
}

table.contentOverview {
    margin-top: 15px;
}

table.contentOverview input, table.contentOverview select {
    width: 100%;
}

table.contentOverview td.contentData {
    width: 200px;
}
