body {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-left: 10px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 11px;
}

a {
    color: #83af00;
    text-decoration: none;
    font-weight: bold;
    outline: none;
}

a > img {
    border: 0;
}

fieldset.formFields {
    width: 600px;   /* standard width for all input fields */
    margin-bottom: 20px;
}

.commandButton {
    border: 0;
    outline: none;
    height: 22px;
    color: black;
    float: left;
    overflow: hidden;
    cursor: pointer;
    margin: 0 6px 1px 0; /* for :active push effect */
}

.commandButton:active {
    /* Disabled push effect since Firefox 3.5 still chokes on it (one row inside the button becomes unresponsive) */
    /*margin: 1px 5px 0 1px;*/
}

.commandButton a {
    outline: none;
}

.commandButtonRight, .commandButtonRightDisabled {
    background-image: url("../images/commandButton/buttonRight.gif");
    overflow: hidden;
    width: 6px;
    height:22px;
    float:left;
    vertical-align: middle;
}

.commandButtonRightDisabled {
    background-image: url("../images/commandButton/buttonRightDisabled.gif");
    opacity:0.50;
}

.commandButtonLabel, .commandButtonLabelDisabled {
    background-image: url("../images/commandButton/buttonBG.gif");
    overflow: hidden;
    padding-right: 5px;
    padding-top:5px;
    text-decoration: none;
    color: gray;
    font-weight: bold;
    height:22px;
    float:left;
    margin:auto;
}

.commandButtonLabelDisabled {
    background-image: url("../images/commandButton/buttonBGDisabled.gif");
    opacity:0.50;
}

.commandButtonLabelText {
    text-decoration: none;
    color: gray;
    font-weight: bold;
    vertical-align:middle;
    float:left;
}

.commandButton:active .commandButtonLabelText {
    color: black;
}

.commandButtonIcon, .commandButtonIconDisabled {
    overflow: hidden;
    border-left: 1px solid #d3d3d2;
    background-image: url("../images/commandButton/buttonBG.gif");
    padding-right: 8px;
    padding-left: 7px;
    padding-top: 3px;
    height:22px;
    float:left;
}

.commandButtonIconDisabled {
    background-image: url("../images/commandButton/buttonBGDisabled.gif");
    opacity:0.50;
}

.commandButton:hover .commandButtonLabel, .commandButton:hover .commandButtonIcon {
    background-image: url("../images/commandButton/buttonBG_hover.gif");
}

.commandButton:hover .commandButtonIcon {
    border-left: 1px solid #6a6a6a;
}

.commandButton:hover .commandButtonRight {
    background-image: url("../images/commandButton/buttonRight_hover.gif");
}

.commandIcon, .commandIconDisabled {
    cursor: pointer;
    padding: 3px;
    border: 0;
}

.commandIcon:hover {
    opacity: 1;
    background-image:url('../images/toolbar/background-hl.png');
}

.commandIconDisabled {
    opacity:0.50;
}

.commandIconDisabled:hover {
    opacity:0.30;
}

.errorMessage {
    color: red;
}

.infoMessage {
    color: blue;
}

.warnMessage {
    color: plum;
}

.fatalMessage {
    color: red;
}

.infoBox {
    width: 400px;
    margin: 20px;
    padding: 10px;
    border: 1px outset #3D3D3D;
    background-color: #F9FCF1;
}

textarea {
    border: 1px solid #bdbdbd;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 11px;
    padding-left:2px;
}

textarea[readonly="readonly"]   {
    background-color:#EEEEEE;
}

.top {
    vertical-align: top;
}

input, .fxValueInput input {
    border: 1px solid #bdbdbd;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 11px;
    padding:2px;
}
input[type="checkbox"]   {
    border:0;
}
input[type="radio"]   {
    border:0;
}

input[readonly="readonly"]   {
    background-color:#EEEEEE;
}

.stretched input[type="text"] {
    width: 100%;
}

select {
    border: 1px solid #bdbdbd;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 11px;
    padding-left:2px;
}

.tblResult {
    border: 1px solid gray;
    width: 90%;
}

.tblRowEven {
    background-color: #F9FCF1;
}

.tblRowOdd {
    background-color: white;
}

.tblColumn {
    text-align: left;
    border-bottom: 1px solid #ecf5cd;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.tblHeader {
    background-color: white;
    border-bottom: 1px solid #ecf5cd;
    text-align: left;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}

/* Dojo table styles */

table.dojoTable {
/*width:100%;*/
    border-collapse:collapse;
    cursor:default;
/*border:1px solid #ccc;*/
}


table.dojoTable thead td, table.dojoTable thead th,
table.dojoResultTable thead td, table.dojoResultTable thead th {
    background-image: url("../../pub/images/filteredTable/header.gif");
    background-repeat: no-repeat;
    cursor: pointer;
    white-space:nowrap;
    padding-right:15px;
    padding-left:5px;
    padding-top:4px;
    padding-bottom:4px;
    border-left:1px solid #d3dcb7;
    border-bottom:1px solid #d3dcb7;
}


table.dojoTable thead td.selectedUp, table.dojoTable thead th.selectedUp,
table.dojoResultTable thead td.selectedUp, table.dojoResultTable thead th.selectedUp {
    background-image: url("../../pub/images/filteredTable/header_up.gif");
    background-repeat: no-repeat;
    background-position:top right;
    cursor: pointer;
    white-space:nowrap;
    padding-right:15px;
    padding-left:5px;
    padding-top:4px;
    padding-bottom:4px;
}

table.dojoTable thead td.selectedDown, table.dojoTable thead th.selectedDown,
table.dojoResultTable thead td.selectedDown, table.dojoResultTable thead th.selectedDown {
    background-image: url("../../pub/images/filteredTable/header_down.gif");
    background-repeat: no-repeat;
    background-position:top right;
    cursor: pointer;
    white-space:nowrap;
    padding-right:15px;
    padding-left:5px;
    padding-top:4px;
    padding-bottom:4px;
}

table.dojoTable tbody tr td {
    background-color: white;
    border-bottom:1px solid #ccc;
}

table.dojoTable tbody tr.alt td {
    background-color: white;
    border-bottom:1px solid #ccc;
}


table.dojoTable tbody tr:hover td{
    background: #d3dcb7;
}
table.dojoTable tbody tr.selected td{
    background: #ebf5cc;
}
table.dojoTable tbody tr.selected:hover td{
    background: #ebf5cc;
}

/* Query editor */

/** A static dojo popup, e.g. displaying some text */
div.dojoDialog {
	background-color: #F9FCF1;
	border : 1px solid black;
	-moz-border-radius : 4px;
	padding : 4px;
}


/** Search results */

.resultThumbnail85 {
    position: relative;
    height: 106px;  /* boxsize + 4 (border) + 17 (label) */
}

.resultThumbnail85 .inner1 {
    position: relative;
    overflow: hidden;
    display: table;
    width: 89px;    /* boxsize + 4 */
    height: 89px;
    
    border: 1px solid #AAAAAA;
    z-index: 1;

    /*line-height: 87px;  /* boxsize + 2 */
    vertical-align: middle;
}

.resultThumbnail85 .inner2 {
    *position: absolute;
    display: table-cell;
    top: 50%;

    vertical-align: middle;
    width: 100%;
    text-align: center;
    /*line-height: 85px;  /* boxsize */
}

.resultThumbnail85 .inner2 img {
    *position: relative;
    top: -50%;
}

.resultThumbnail85 .label {
    position:absolute;
    left:5px;
    bottom:0;
    height:15px;
    z-index:10;
    overflow:hidden;
}

table.welcometbl tbody tr td table tr td,  table.welcometbl tbody tr td table thead tr th{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 5px;

}
table.welcometbl tbody tr td {
    vertical-align: top;
}
table.welcometbl tbody tr td table.links tbody tr td {
    background-image: url("../../adm/images/commandButton/flexive_arrow.png");
    background-repeat: no-repeat;
    background-position: 4px 50%;
    padding-left: 26px;
}

table.welcomeweb {
    margin-top: 20px;
    background-color: #F8F8F8;
    border: 1px solid lightgray;
}

table.welcomeweb td {
    padding: 5px;
}

ul.commaList {
    padding: 0;
    margin: 0;
}

ul.commaList li {
    display: inline;
    list-style: none;
}

ul.commaList li:after {
    content: ',';
}

ul.commaList li:last-child:after {
    content: '';
}

table.plain {
    border-collapse: collapse;
}

table.plain td {
    padding: 0 5px 3px 0;
    border: 0;
    white-space: nowrap;
}

/** YUI styles */

li.yuimenuitem {
    padding: 2px 0 2px 7px !important;
}

li.yuimenuitem a {
    font-size: 11px !important;
    font-weight: normal !important;
}

/* YUI Datatable */

/* Striping */
tr.yui-dt-odd,
tr.yui-dt-even td.yui-dt-asc,
tr.yui-dt-even td.yui-dt-desc {
    background-color: #eaf1d6 !important;
}

tr.yui-dt-odd td.yui-dt-asc,
tr.yui-dt-odd td.yui-dt-desc {
    background-color: #d3dcb7 !important;
}

/* Highlighting */
tr.yui-dt-highlighted,
tr.yui-dt-odd td.yui-dt-highlighted,
tr.yui-dt-even td.yui-dt-highlighted,
tr.yui-dt-highlighted td.yui-dt-asc,
tr.yui-dt-highlighted td.yui-dt-desc {
    background: #d3dcb7 !important;
}

/* Selection */
tr.yui-dt-selected td,
tr.yui-dt-selected td.yui-dt-asc,
tr.yui-dt-selected td.yui-dt-desc,
tr.yui-dt-selected a,
tr.yui-dt-even td.yui-dt-selected,
tr.yui-dt-odd td.yui-dt-selected {
    background: #b8ce74 !important;
    color: #000 !important;
}

/* Drag'n'Drop target bar */
.yui-dt-coltarget {
    background-color: #D3DCB7 !important;
}
