/**
 * Styles for flexive components
 */

/* FxValueInput */

/* Container of a fxValueInput element */
div.fxValueInput {
    width: 300px;
}

/* Container in ContentEditor used to show readonly properties */
.property div.fxValueInputReadOnly {
    border: 1px dashed #A0A0A0;
    padding: 2px;
    width: 394px !important;
}

/* An input row containing the input element and the default language checkbox */
div.fxValueInputRow {
    /*position: relative;*/
    width: 225px;
    /*clear: both;*/
    padding: 1px 1px 1px 0;
}

input.fxValueDefaultLanguageRadio {
}

div.FxHTMLInput div.fxValueInputRow {
    padding-top: 20px;
}

/* Limit width of the month select list*/

.FxDateInput .popupCalendar, .FxDateTimeInput .popupCalendar,
.FxDateRangeInput .popupCalendar, .FxDateTimeRangeInput .popupCalendar {
    display: none;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 999;
}

select.fxValueSelectInput, .fxValueInputElementWidth, input.fxValueTextInput, textarea.fxValueTextArea  {
    width: 175px;
}

/* Stretch single-language inputs over space normally occupied by the language select */
.fxValueInput input[type="text"].singleLanguage,
.fxValueInput textarea.singleLanguage,
.fxValueInput select.singleLanguage {
    width: 100%; /* don't force with !important because it breaks standalone inputs outside a fx:formRow */
}

.FxReferenceInput input {
    width: 65% !important;     /* leave room for the browse references button, overrides yui-skin-sam autocomplete width */
}

.FxReferenceInput input.singleLanguage {
    width: 80% !important;     /* leave room for the browse references button, overrides yui-skin-sam autocomplete width */
}

.fxValueInput input {
    border: 1px solid gray;
}

textarea.fxValueTextArea,
textarea.fxValueTextAreaHtml {
    height: 150px;
}

textarea.fxValueTextAreaHtml {
    width: 100%;
}

input.fxValueTextInput {
    float: left;
}

input.fxValueFileInput {
    float: left;
}

div.fxValueInput {
    /*position: relative;*/
    display: block;
}

div.fxValueInput select.languages {
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 0;*/
    float: right;
    width: 70px;
}

div.fxValueInputLanguageIcon {
    margin-left: 3px;
    width: 15px;
    display: inline;
}

div.fxValueInput img.findReferencesIcon {
    float: left;
}

div.fxValueInputAutocomplete {
    position: absolute;
    left: 0;
}

/* Query editor */

table.queryRoot {
    border-collapse: separate;
    border: 1px solid #A0A0A0;
    background-color: #EAF1D6;
    width: 600px;
}

table.queryRoot td.nestedTable {
    border: 1px solid #A0A0A0;
    border-right: 0;
    margin-right: 0;
}

table.queryRoot td.queryOperator {
    padding-left: 5px;
}

table.queryRoot td.editorRow {
    border: 1px solid #EAF1D6;
}

table.queryRoot tr {
    height: 2.5em;
}

table.queryChild0, table.queryChild1 {
    border-collapse: separate;
    width: 100%;
}

table.queryChild0 {
    background-color: #EAF1D6;
}

table.queryChild0 td.editorRow {
    border: 1px solid #EAF1D6;
}

table.queryChild1 {
    background-color: #F9FCF1;
}

table.queryChild1 td.editorRow {
    border: 1px solid #F9FCF1;
}

table.queryRoot td.invalidNodeValue {
    background-color: #FFF691;
}

table.queryRoot td.selection {
    background-color: #D2E4FD;
}

div.queryRowElement {
    float: left;
    white-space: nowrap;
    padding-right: 3px;
}

div.queryWideRowElement {
    float: right;
    padding-top: 5px;
    margin-right: 20px;
}

div.queryRemoveNode {
    position: absolute;
    right: 0;
    padding-left: 5px;
}

div.queryRowLabel {
    float: right;
    padding-right: 5px;
}

div.queryInputContainer {
    position: relative;
    float: right;
    width: 260px;
}

select.queryValueComparator {
    width: 100px;
}

#queryEditorContainer .emptyMessage {
    width: 580px;
    outline: 1px solid #A0A0A0;
    background-color: #EAF1D6;
    padding: 10px;
}

/* input styles for the query editor */

.queryRoot div.fxValueInputRow {
    width: 150px;
}

.queryRoot .fxValueInputElementWidth {
    width: 122px;
    /*overflow: hidden;*/
}

.queryRoot input.fxValueTextInput,
.queryRoot .fxValueInput input[type="text"].singleLanguage,
.queryRoot .fxValueInput textarea.singleLanguage,
.queryRoot .fxValueInput select.singleLanguage {
    width: 125px;
}

/* Reduce text input for reference popup button */
.queryRoot .FxReferenceInput input.fxValueTextInput {
    width: 100px !important;
}

.queryRoot textarea.fxValueTextArea, .queryRoot textarea.fxValueTextAreaHtml {
    height: 100px;
}

.queryRoot textarea.fxValueTextAreaHtml {
    width: 350px;
}

.queryRoot input.fxValueTextInput {
    float: left;
}

.queryRoot div.fxValueInput {
    width: 210px;
}

/** Temporary fix for date input alignment */
.queryRoot .FxDateInput img.button {
    margin-top: -5px;
}

/** FxPopup - a static dojo popup, e.g. for displaying some text */
div.dojoDialog {
    background-color: #F9FCF1;
    border: 1px solid black;
    -moz-border-radius: 4px;
    padding: 4px;
}

/** jsDataScroller */

table.dataScroller {
    width: 180px;
}

table.dataScroller td.button {
    padding: 2px;
    width: 20px;
}

td.button a {
    outline: none;
}

td.button img {
    opacity: 0.8;
}

td.button:hover img {
    opacity: 1;
}

table.dataScroller td.scrollPosition {
    width: 100px;
    padding: 2px;
}

td.scrollPosition input {
    width: 96px;
    text-align: center;
}

/* form input styles */

fieldset.formFields {
    width: 450px;
    border-width: 1px;
    border-style: solid;
    border-color: #bdbdbd;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

fieldset.formFields legend {
    margin-left: 8px;
    padding-left: 2px;
}

div.formRow {
    float: left;
    display: block;
    padding: 2px;
}

div.formRow input[type=text] {
    /* Limit plain text input width */
    max-width: 100%;
}

div.formLabelContainer {
    float: left;
    margin-top: 2px;
    margin-right: 3px;
    width: 120px;
    padding: 2px;
    white-space: nowrap;
}

div.formLabel {
    width: 100%;
    overflow: hidden;
    white-space: normal;
}

div.formInputElement {
    float: left;
    width: 300px;
    margin-top: 2px;
    padding: 2px;
}

div.formError {
    float: left;
    height: 12px;
    padding: 2px;
    width: 80px;
}

.dataTableHeader {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 11px;
    font-weight: bold;
}

/* Pure CSS tooltips, based on http://www.webbe.de/index.shtml?CONTENT=script_css_tooltip */

div.tooltip {
    position: relative;
}

div.tooltip:hover {
    color: #0000ff;
    background: transparent;
}

div.tooltip div.tooltipContent {
    display: none;
}

div.tooltip:hover div.tooltipContent {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
    color: #000000;
    border: 1px solid #000000;
    background-color: #FFFFCC;
}


/** Autocomplete styles */

/* Content autocomplete - a block div with a thumbnail preview */
div.pkAutoComplete {
    height: 50px;
    display: block;
    clear: both;
}

div.pkAutoComplete img {
    float: left;
}

div.pkAutoComplete div {
    margin-left: 55px;
    display: block;
}
div.pkAutoComplete .caption {
    padding-bottom: 3px;
    font-size: 13px;
    font-weight: bold;
}

div.pkAutoComplete .property {
}

/** ColorPicker styles */

div.colorPickerPreview {
    display: inline;
    margin-right: 5px;
}

/** An inline image that acts as a (Javascript) button */
img.button {
    cursor: pointer;
}

/** Yahoo UI default skin overrides */
.yui-skin-sam .yui-ac-input {
    position: relative !important;  /* override position:absolute since it makes buttons near the input field difficult to place*/
}

